[discord]
discord.user=<botmail>
discord.pass=<botpass>
discord.serverid=<serverid>
discord.bothash=<bothash>
discord.bot=1
[sql]
sql.user=root
sql.pass=root
sql.host=127.0.0.1
sql.port=3306
sql.db=donbot
[admin]
admin.roles=293540247294312448,282517299070763009,339877036749488128
admin.super=205342915034087424,341730842303004673
admin.channels=<adminchannelscommaseperated>
[donor]
donor.role=<donorrole>
donor.expiremsg=Just a reminder that your donation covers you until the end of this month.
[bot]
bot.debug=1
